.homeHeader {
    height: 100vh;

    background:
        linear-gradient(to bottom, #202126 10%, #114040, #8c1b2f);

    align-items: center;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    color: #8c1b2f;

}


.navBarContainer {
    background-color: #20212600;
    border-bottom: #ffffffe3 solid;
    border-width: 6px;
}